.main-box
{
    background-color: rgb(80, 8, 101);
    height: 100%;
    width: 100%;
}
.main_body{
    
    background: violet;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

.Container_box
{
    display: flex;
    align-content: space-between;
    justify-content: center;
    justify-content: space-between;
    max-width: 90%;
    height:500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    background: white;
    padding: 30px;
    
    
}
.Container_box h3
{
    width: 180px;

}

.question_List
{
    
    border: 3px rgb(169, 14, 14) ;
    margin-top:   1px;
    margin-left: -10px;
   display: flex;
   justify-content: space-between;
  
    padding: 3px;
    margin-bottom: 1rem;
    
    
}

.question header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.question_List button
{
    background: rgb(169, 163, 163) ;
    border-radius: 50%;
    color: red;
    width: 2rem;
    height:2rem

}

.question_List p{
    margin-bottom: 1.25rem;
    
}