.gmail:hover{

  background-color: rgb(142, 142, 246);
  
  
}
.navbar_new{
  width: 100%;
  background-color: black;
  color: white;
  padding: 25px;
}
.title
{
  font-size: 40px;
  font-weight: 200;
}