.Register__Container
{
    width: 400px;
    height:520px;
    border: 1px solid;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;

}




.h3
{
    margin-left: 20px ;
}

.form-control
{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.5);
}

.bb
{
    background-color: rgb(50, 219, 50);
    border: none;
    border-radius: 2px;
    color: white;
    margin-left: 220px;
    width: 150px;
    height: 35px;
    margin-top: 30px;
}