.Register__Container
{
    width: 400px;
    height:520px;
    border: 1px solid;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;

}


.btn
{
    margin-left: 250px;
    
    
}

.h3
{
    margin-left: 20px ;
}

.form-control
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}