.tablepage
{
    
    align-content: center;
    background-color: #f0f8ff;
    border-color: rgb(167, 13, 13);
    border: 5px;
    ;
    width: 300px;
    margin-left: 400px;
    margin-top: 100px;
 
}
.tablestyl{
    width: 100%;
    margin-top: 20px;
}
    .tablestyl td {
    padding: 10px;
    text-align: center;
    border: 5px solid #ddd;
    }

    .tablestyl th {
        background-color: #6495ed; /* Steel blue header */
        color: #fff; /* White text */
    }

    
    
