.form {
    display:flex;
   margin-top: 100px;
  justify-content: center;
    background-color: aliceblue;
    align-content: center;
    
    width: 400px;
    margin-left: 400px;
    height: 200px;
    padding-top: 20px;
    border-radius: 20px;

    
}

